#calendar {
    width: 600px;
    margin: 0 auto;
}
#calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
#prev-month, 
#next-month {
    border: none;
    background-color: rgb(27, 74, 74);
    color: white;
    padding: 5px 8px 7px 8px;
    cursor: pointer;
}
#calendar-container{
    height: 600px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1.4px solid #aaa;
}
.item {
    display: grid;
    place-items: center;
}
/* 이번달만 커서 적용 .item이면서 .other-month가 없는 애야 */
.item:not(.other-month) {
    cursor: pointer; /* 커서를 포인터로 변경 */
}
.week-name {
    color: #aaa;
    border-bottom: 1.4px solid #aaa;
    font-weight: bold;
}
.item:nth-child(7n+1){
    color: crimson;
}
.item:nth-child(7n+7){
    color: cornflowerblue;
}
/* 가장 우선순위가 높게 적용 */
.other-month {
    color: #ddd !important;
}