.container {
    width: 600px;
    height: 700px;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px repeat(7, 1fr);
    background-color: black;
    padding: 3px;
}
.item {
    border: 2px solid black;
    display: grid;
    place-items: center;
    background-color: white;
}
.week_name {
    background-color: rgb(255, 230, 91);
    color: black;
}
/* .item:nth-child(6n+1) {
    color: rgb(255, 173, 187);
} */
.class {
    color: rgb(255, 230, 91);
    background-color: black;
}
.ds {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}
.wsm {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 4;
}
.java {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}
.club_activity {
    grid-area: 7 / 4 / 9 / 5;
}
.coding {
    grid-area: 4 / 5 / span 2 / 6;
}
.python {
    grid-area: 6 / 5 / span 2 / 6;
}
.wsmtwo {
    grid-area: 4 / 6 / 6 / 7;
}
.choicetwo {
    grid-area: 6 / 6 / 8 / 7;
}
.item:first-child {
    font-size: 30px;
}