.container {
    width: 600px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(8, 100px);
    background-color: pink;
    padding: 10px;
}
.item {
    display: grid;
    place-items: center;
    background-color: white;
    color: black;
    border: 1px solid pink;
}
.col1 {
    color: hotpink;
    margin-right: 5px;  
}
.row1 {
    background-color: hotpink;
    color: white;
    margin-bottom: 5px;
}
#ds1, #java1, #coding1, #py1, #web1, #web2, #club1, #js1 {
    grid-row: span 2;
}
